
/* 
Global css
*/
:root{
    --color-blue-0: hsl(223, 66%, 74%);
    --color-blue-1: hsl(222, 82%, 62%);
    --color-blue-2: hsl(223, 60%, 36%);
    --color-blue-3: hsl(223, 55%, 93%);
 


    --color-white-0: hsl(0, 0%, 100%);
    --color-white-1: hsl(0, 0%, 97%);
    --color-white-2: hsl(0, 0%, 90%);
    --color-white-3: hsl(0, 0%, 85%);

    --color-black-1: hsl(0, 0%, 12%);
    --color-black-2: hsl(0, 0%, 28%);
    --color-black-3: hsl(0, 0%, 48%);

    --color-line: hsl(0, 0%, 86%);
    --color-shadow: hsla(0, 0%, 0%, 0.08);

    --space-0: 0rem;
    --space-1: 0.3rem;
    --space-2: 0.6rem;
    --space-3: 0.9rem;
    --space-4: 1.2rem;
    --space-5: 1.8rem;
    --space-6: 3.5rem;
 --space-7:2.5rem;
    --radius-1: 0.55rem;
    --radius-2: 0.9rem;
    --radius-3: 2rem;
     --transition: 0.3s ease;
    --font-size-1: 0.5rem;
    --font-size-2: 0.75rem;
    --font-size-3: 1rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1.5rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color-white-1);
    color: var(--color-black-1);
}

a {
    text-decoration: none;
}

/*-- Animation Hero дээрх --*/
.hero-badge {
    animation: fadeUp 0.7s ease;
}

.hero h1 {
    animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(0.8rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*-- NAVBAR Дээд navigation хэсэг --*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 5%;
    background-color: var(--color-white-0);
    border-bottom: 1px solid var(--color-line);
    gap: var(--space-3);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.logo {
    width: 2rem;
    height: auto;
}

.nav-logo-text strong {
    display: block;
    font-size: 1.15rem;
    color: var(--color-blue-2);
}

.nav-logo-text small {
    font-size: 0.65rem;
    color: var(--color-black-3)
}

.nav-center {
    display: flex;
    gap: var(--space-2);
}

.nav-center a {
    padding: 0.6rem 0.85rem;
    border-radius: var(--radius-1);
    font-size: 0.8rem;
    color: var(--color-black-2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-center a.active {
    background-color: var(--color-blue-3);
    color: var(--color-blue-2);
    font-weight: bold;
}

.nav-center a:hover {
    background-color: var(--color-blue-3);
    color: var(--color-blue-2);
}

.nav-right{
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.nav-search,
.hero-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-search input,
.hero-search input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.nav-search {
    width: 18rem;
    font-size: 0.8rem;
    padding: 0.65rem 0.9rem;
    border: 1px solid var(--color-line);
    border-radius: var(--radius-2);
    background-color: var(--color-white-1)
}

.post-btn,
.login-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8rem;
    height: 2.15rem;
    border-radius: var(--radius-1);
    font-size: 0.78rem;
    font-weight: bold;
    white-space: nowrap;
}



.post-btn {
    background-color: var(--color-blue-1);
    color: var(--color-white-0);
}

.login-btn {
    border: 1px solid var(--color-line);
    color: var(--color-black-2);
}

.profile-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    border: 1.5px solid var(--color-line);
    border-radius: 50%;
    background-color: var(--color-blue-3);
    color: var(--color-blue-2);
    font-size: 0.78rem;
}

/* HERO SECTION */

.hero {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top:var(--space-6);
    text-align: center;
}

.hero-badge {
    display: inline-block;
    padding: 0.45rem 0.9rem;
    border: 1px solid var(--color-line);
    border-radius: var(--radius-3);
    background-color: var(--color-blue-3);
    color: var(--color-blue-2);
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

.hero h1 {
    margin-top: var(--space-4);
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.hero h1 span {
    display: block;
}


.hero-blue {
    color: var(--color-blue-2);
}

.hero-search {
    max-width: 50rem;
    margin: var(--space-5) auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-2);
    padding: 0.9rem 1rem;
    border: 1px solid var(--color-line);
    border-radius: var(--radius-3);
}

.hero-search button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--radius-3);
    background-color: var(--color-blue-2);
    color: var(--color-white-0);
    font-weight: bold;
}

/* BOTTOM NAV */
.bottom-nav {
    display: none ;
}


/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .nav {
        padding: 0.9rem 4%;
    }

    .nav-center,
    .nav-right {
        display: none;
    }

    .nav-logo-text strong {
        font-size: 1rem;
    }

    .nav-logo-text small {
        font-size: 0.6rem;
    }

    .hero {
        width: 80%;
        padding-top: 2rem;
    }

    .hero h1 {
        font-size: 2.15rem;
    }

    .bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.7rem 0;
    background-color: var(--color-white-0);
    border-top: 1px solid var(--color-line);

    position: fixed;
    left: 0;
    bottom: 0;
    }   

    .bottom-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        color: var(--color-black-3);
        font-size: 0.7rem;
    }

    .bottom-nav a.mobile-active {
    color: var(--color-blue-2);
    font-weight: bold;
    }

    .bottom-nav svg {
    width: 1.25rem;
    height: 1.25rem;
    }

    body {
    padding-bottom: 4.5rem;
    }
}
